<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio anterior a Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css" >
    <link rel="stylesheet" href="/css/ejemplo.css" >

</head>
<body>

    <h4>Intro</h4>

    <h1>Encabezado</h1>

    <h2>Subtitulo</h2>
    
    <img src="/images/img-tv-samsung-smart.jpg" alt="tele" class="imagen">
    
    <div><strong>Texto a modificar</strong></div>
    
    <p>Lorem ipsum dolor <strong>sit amet consectetur</strong> adipisicing elit. Explicabo, vitae repellat accusamus quas laudantium suscipit maxime quod eos dolores nemo voluptatem labore assumenda impedit corrupti eum asperiores iure ab cum.</p>
    <p class="destacado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, cum at sed obcaecati, impedit voluptate doloremque deserunt quos maxime molestias animi rerum totam alias illum et minima dolores voluptatibus earum!</p>

    <ol>
        <li class="destacado"> numero 1 </li>
        <li> numero 2</li>
        <li> 
            <ul>
                <li> una cosa </li>
                <li> otra cosa</li>
            </ul>
        </li>
        <li> numero 3</li>
    </ol>
    <a href="https://www.google.com"> Google </a>
    <div class="ejemplo-caja">
        Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, debitis.
    </div>
    <div class="contenedor1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Asperiores, quas alias! Beatae nam atque maxime! Accusantium nulla cumque maxime optio!
    </div>
    <div class="contenedor2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Asperiores, quas alias! Beatae nam atque maxime! Accusantium nulla cumque maxime optio!
    </div>

</body>
</html>