<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre!!!</title>
    <link rel="stylesheet" href="/css/normalize.css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" >
</head>

<body>
    <header>
        <div class="header-top">
            
            <a href="/" class="logo-header">
                <img src="/images/logo-mercado-liebre.svg" alt="Bienvenido a Mercado Liebre!!!">
            </a>
            


            <form class="caja-busqueda">
                <input type="text" name="search" class="barra-de-busqueda" placeholder="Buscar productos, marcas"> </input>
                <button class="button-search">
                    <i class="fas fa-search icon-search"></i>
                </button>
            </form>

            <p class="centrado">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>

        <nav class="header-bot">
            <ul class="barra-de-navegacion">
                <li><a href="#" class="vinculo">Ofertas</a></li>
                <li><a href="#" class="vinculo">Tiendas Oficiales</a></li>
                <li><a href="#" class="vinculo">Vender</a></li>
                <li><a href="#" class="vinculo">Ayuda</a></li>
            </ul>
            <ul class="barra-de-navegacion">
                <li>
                    <a href="/register" class="vinculo">
                    Crea tu cuenta  <i class="far fa-id-card"></i>
                    </a>
                </li>
                <li>
                    <a href="/login" class="vinculo">
                        Ingresá <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="vinculo">
                        Mis Compras <i class="fas fa-shopping-basket"></i>
                    </a>
                </li>
            </ul>
        </nav>
            <div class="barra-de-burger">
                <button class="burger-menu">
                    <i class="fas fa-bars"></i>
                </button>
            </div>       
        <br>
    </header>
    
    <section>
         <img src="/images/img-home-banner.jpg" alt="Cobra con todas las tarjertas" width="100%">
    </section>

    <main class="cuerpo">
        <section>       
            <h2 class="titulares">Basado en tu ultima visita</h2>

            <div class="caja-articulo">
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg" class="imagen-articulo" alt="Cafetera Moulinex">
                    <div class="caja-info-articulo">
                        <div class="info-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$6.700</p>
                            <p class="descuentos">40% Off</p>
                        </div>
                        <h3 class="descriptores">Cafetera Moulinex</h3>
                    </div>
                </article>
                       
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" class="imagen-articulo" alt="Macbook Pro">
                    <div class="caja-info-articulo">
                        <div class="info-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% Off</p>                               
                        </div>
                        <h3 class="descriptores">Macbook Pro 2019</h3>
                    </div>
                </article>
            
                <article class="articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg" class="imagen-articulo" alt="Samsung Galaxy S10">
                    <div class="caja-info-articulo">
                        <div class="info-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% Off</p>
                        </div>
                        <h3 class="descriptores">Samsung Galaxy S10</h3>  
                    </div>
                </article>
            
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg" class="imagen-articulo" alt="TV Samsung Smart">
                    <div class="caja-info-articulo">
                        <div class="info-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% Off</p>                 
                        </div>
                        <h3 class="descriptores">TV Samsung Smart</h3>
                    </div>
                </article>
            </div>          
        </section>
        
        <br>

        <section>
            <h2 class="titulares">Seccion De Ofertas</h2>

            <div class="caja-articulo">
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg" class="imagen-articulo" alt="Cafetera Moulinex">
                    <div class="caja-info-articulo">
                        <div class="info-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$6.700</p>
                            <p class="descuentos">40% Off</p>
                        </div>
                        <h3 class="descriptores">Cafetera Moulinex</h3>
                    </div>
                </article>
                      
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" class="imagen-articulo" alt="Macbook Pro">
                    <div class="caja-info-articulo">
                        <div class="info-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% Off</p>                               
                        </div>
                        <h3 class="descriptores">Macbook Pro 2019</h3>
                    </div>
                </article>
            
                <article class="articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg" class="imagen-articulo" alt="Samsung Galaxy S10">
                    <div class="caja-info-articulo">
                        <div class="info-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% Off</p>
                        </div>
                        <h3 class="descriptores">Samsung Galaxy S10</h3>  
                    </div>
                </article>
            
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg" class="imagen-articulo" alt="TV Samsung Smart">
                    <div class="caja-info-articulo">
                        <div class="info-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% Off</p>                 
                        </div>
                        <h3 class="descriptores">TV Samsung Smart</h3>
                    </div>
                </article>
            </div>             
        </section>
    </main>
    
    <br>

    <footer class="centrado">
        <div class="caja-footer">
            <div class="borde">
                <br>
                <div class="icono-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="cuerposDeTexto">Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o en efectivo en puntos de pago. 
                    ¡Y siempre es seguro!</p>
            </div>
        
            <div class="borde">
                <br>
                <div class="icono-footer">
                    <i class="fas fa-gift"></i>
                </div>
                <h3>Envío gratis desde los $2.500 </h3>
                <p class="cuerposDeTexto">Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. 
                    Es un beneficio de Mercado Puntos</p>
            </div>
        
            <div class="borde">
                <br>
                <div class="icono-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3>Seguridad de principio a fin</h3>
                <p class="cuerposDeTexto">¿No te gusta? ¡Devolvelo! 
                    En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@
                </p>
            </div>
        </div>
        <div>Copyright C 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>
    
</body>
</html>